html, body {height: 100%;}

.progressBar {
  width: 100%;
  background-color: grey;
}

.bar {
  width: 1%;
  height: 30px;
  background-color: green;
}

table tbody {
  display: block;
  max-height: 80vh;
  overflow-y: scroll;
}

table thead, table tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}
